<h1>Editing Workout</h1>

<%= render 'form', user: @user, workout: @workout %>

<%= link_to 'Show', user_workout_path(@user, @workout) %> |
<%= link_to 'Back', user_workouts_path(@user, @workout)  %>
