<%= form_for [@user, @sleep], :html => { :multipart => true,  :class => "pictureInput" } do |f| %>
  <% if sleep.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sleep.errors.count, "error") %> prohibited this sleep from being saved:</h2>

      <ul>
      <% sleep.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
